@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&family=Montserrat:wght@100;400;600&display=swap');

* {
  box-sizing: border-box;
}

::selection {
  background-color: #79ffe1;
}

ul {
  margin: 20px 0;
  padding-left: 20px;
}
li {
  list-style: square;
}

p {
  line-height: 25px
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  background-color: #f7f7f7;
}

.bold {
  font-weight: bolder;
}

.download-cv {
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none;
  color: black;
  z-index: 100;
}

.download-cv a {
  color: #000;
  text-decoration: none;
  transition: all 0.2s linear;
}

.download-cv:hover {
  color: #ffa000;
  text-decoration: none;
}

.download-cv a:hover {
  color: #ffa000;
}


.download-cv  i {
  font-size: 20px;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  padding: 10px 30px;
  font-family: 'Karantina', cursive;
  letter-spacing: 15px;
}

h2 {
  background-color: #ffa000;
  padding: 10px 30px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 4px;
}

.section-title {
  font-size: 1.5em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 70%;
}

.icons {
  position: relative;
  right: 33px;
  background: white;
}

.info a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}

.info a:hover {
  text-decoration: underline;
  color: black;
}

.main-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  width: 60%;
  margin: 0 auto;
}

header {
  align-items: center;
  display: flex;
  height: 160px;
  grid-column-start:2;
  padding: 10px 30px;
  position: relative;
}

header span {
  padding: 5px 0;
  display: inline-block;
}

.info {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 4px;
  text-align: left;
}

header::before {
  background-color: black;
  content: '';
  position: absolute;
  height: 30px;
  top: 0;
  display: block;
  width: 1px;
  left: -0;
} 

header::after {
  background-color: black;
  content: '';
  position: absolute;
  height: 30px;
  bottom: 0;
  display: block;
  width: 1px;
  left: -0;
} 

.personal-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 3;
  display: flex;
  margin: 50px 0px;
}

.resume-title {
  width: 30%;
}

.resume-copy {
  width: 70%;
  padding: 10px 30px;
}

.experience-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 6;
  display: flex;
  margin: 50px 0px;
}

.experience-title {
  width: 30%;
}

.experience-copy {
	width: 70%;
  padding: 10px 30px;
}

.education-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 9;
  display: flex;
  margin: 50px 0px;
}

.education-title {
  width: 30%;
}

.education-copy {
 width: 70%;
}

.research-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 10;
  display: flex;
  margin: 50px 0px;
}

.research-title {
  width: 30%;
}

.research-copy {
	width: 70%;
  padding: 10px 30px;
}

.certifications-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 7;
  display: flex;
  margin: 50px 0px;
}

.certifications-title {
  width: 30%;
}

.certifications-copy {
	width: 70%;
  padding: 10px 30px;
}

.courses-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 8;
  display: flex;
  margin: 50px 0px;
}

.courses-title {
  width: 30%;
}

.courses-copy {
	width: 70%;
  padding: 10px 30px;
}

.competition-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 11;
  display: flex;
  margin: 50px 0px;
}

.competition-title {
  width: 30%;
}

.competition-copy {
	width: 70%;
  padding: 10px 30px;
}

.programming-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 4;
  display: flex;
  margin: 50px 0px;
}

.programming-title {
  width: 30%;
}

.programming-copy {
	width: 70%;
  padding: 10px 30px;
}

.languages-container {
  grid-column-start:1;
  grid-column-end: 3;
  grid-row-start: 5;
  display: flex;
  margin: 50px 0px;
}

.languages-title {
  width: 30%;
}

.languages-copy {
	width: 70%;
  padding: 10px 30px;
}

.border-left {
  border-left: 1px solid black;
  padding: 10px 30px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  grid-column-start:2;
  grid-row-start: 2;
  height: 300px;
  border-left: 1px solid black;
}


.profile-img {
  position: absolute;
  width: 200px;
  right: 5%;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  filter: grayscale(1);
  top: -20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

footer i {
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
  color: #000;
}

footer i:hover {
  color: #ffa000;
}


.page-link{
  font-weight: 700;
  color: #000000;
  transition: 200ms;
}

.page-link:hover{
  font-weight: 700;
  color: #ffa000;
}


@media screen and (max-width: 1200px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .download-cv span {
    display: none;
  }

  .profile-card {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-img {
    position: relative;
    top: 20px;
    left: auto;
    order: -1;
    margin-bottom: 20px;
    right: 0;
  }

  h1 {
    text-align: right;
  }

  h2 {
    text-align: center;
  }

  .personal-container,
  .experience-container,
  .education-container,
  .research-container,
  .courses-container,
  .competition-container,
  .programming-container,
  .languages-container,
  .certifications-container {
    flex-direction: column;
  }

  .copy {
    width: 100%;
  }
}


@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .main-container {
    width: 80%;
  }
}


@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .main-container {
    width: 70%;
  }
}


/* Projects */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 50px;
}

@media screen and (max-width: 700px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
}

.projects__title {
  font-size: 2em;
}

.project__title {
  text-align: center;
  color: #000;
  font-size: 1.8em;
  height: fit-content;
  letter-spacing: normal;
  padding: 10px 40px;
  margin-bottom: 20px;
}

.project {
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.2s linear;
  display: grid;
  grid-template-rows: 1fr 2fr;
  transition: all 0.2s linear;
  display: none;
  color:#000;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.project:hover{
  filter: blur(0px);
}

.project:hover::after{
  content:"";
  display: block;
  background-color: #00000020;
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 100%;
}

.project:hover::before{
  content:"GO!";
  display: block;
  background-color: #ffa000;
  filter: blur(0px);
  position: absolute;
  z-index: 4;
  bottom: 0%; 
  left: 0%;
  margin: 0 auto;
  height: 30px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 1.5em;
}

.project:nth-child(-n+3) {
  display: block; /* Mostrar solo los primeros tres proyectos */
}

.project:hover {
  transform: scale(1.05);
}

.project__header {
  display: flex;
}

.project__body {
  padding: 0px;
}

.project__description {
  font-size: 0.8em;
  padding: 0px 40px 20px
}

.projects img {
  margin: 0 auto;
  object-fit: cover;
  width: 100%;  
  max-height:150px;
}

.see-more__container {
  display: flex;
  justify-content: center;
}

.see-more {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.2s linear;
  margin: 40px auto;
  grid-column: 2;
}

.tags{
  padding: 0px 40px 0px
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
}

.tags ul li {
  font-size: 10px;
  font-weight: 700;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

@media screen and (max-width:900px){
  .resume-title, .experience-title, .research-title, .certifications-title, .courses-title, .competition-title, .programming-title, .languages-title {
    width: 100%;
    
  }
  .section-title{
    text-align: left;
  }
}
